@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
body {
    margin: 0;
    /* font-family: "Lato", sans-serif; */
    font-family: 'DM Sans', 'Roboto', sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
    
.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}


.faq-content {
    width: 75vw;
    margin-left: auto;
}
.faq-content iframe {
    width: 80vw;
    height: 100vh;
}

a.back-to-top {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #555;
    text-align: center;
    color: white;
    font-size: 20px;
}
a.back-to-top:hover {
    background-color: black;
}


/* resources.html */
.printables {
    max-width: 1100px;
    margin: 50px auto 50px 250px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.printables-box {
    padding: 28px 14px;
    border-radius: 10px;
    border: 0.5px solid rgb(201, 201, 201);
    background-color: white;
    transition: all 0.15s;
}
.resources-description {
    padding: 0;
    margin-bottom: 10px;
}
.box-description {
    font-size: 14px;
}
.pdf-img {
    max-width: 56px;
    height: 56px;
}
.printables-box:hover {
    box-shadow: 0px 0px 20px rgb(212, 212, 212);
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
    text-align: center;
    float: none;
    }
}

@media only screen and (max-width:700px) {
    .faq-content,
    .faq-content iframe {
        width: 100vw;
        margin: auto;
    }
}