:root{
    --theme: #eed49f;
}

body,
html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.page{
    visibility: hidden;;
}

.black{
    min-height: 100vh;
    background-color: black;
}

.bg-img{
    min-height: 98vh;
    background-color: lightgray;
    background: url('https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')center/cover no-repeat;
    position: relative;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 22px 0;
    opacity: 0.8;
    margin-bottom: 70px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
}

div.hamberger i{
    color: white;
    display: none;
    position: absolute;
    top: 50%;
    left: 18px;  
    margin-top: -9px;
    cursor: pointer;
}

.nav div{
    display: inline-block;
}

/* .header-container{  */
    /* max-width: 80%;
    margin: auto; */
/* }  */

a{
    text-decoration: none;
    color: var(--theme);
}

.logo{
    font-family: serif;
    font-size: 38px;
    letter-spacing: 6px;
    display: inline-block;
    text-align: center;
}

.first-letter{
    font-size: 46px;
}

.nav-links-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-left: 380px;
}

.nav-links-container div{
    padding: 10px;
}

.nav-links-container div.login{
    padding: 7px 10px;
}

.nav-links-container a{
    margin: 10px;
}

.nav-links-container a:hover{
    color: white;
}

.login{
    border-left: solid 1px var(--theme);
    font-weight: 700;
    margin-left: 30px;
}

/* ==================================
==================================
SMALL SCREEN NAVBAR
==================================
================================== */

div.drop-menu{
    display: none;
    background-color: #000000;
    color: var(--theme);
    font-size: 14px;
    font-weight: lighter;
    margin: -15px 0 70px 0;
    padding-bottom: 15px;
    transition: 1s;
}

.drop-menu ul{
    list-style-type: none;
    text-align: left;
    padding: 0 20px;
    line-height: 3;
    font-family: 'Roboto', sans-serif;
}


.main{
    max-width: 80%;
    padding: 60px 15px 15px;
    margin: auto;
}

.main-container{
    max-width: 58%;
    text-align: center;
    margin-bottom: 100px;
}

.main-inner{
    font-family: 'Bebas Neue',sans-serif;
    line-height: 80px;
    font-size: 90px;
    letter-spacing: -2px;
}

.main-inner-sub{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    letter-spacing: 10px;
    font-weight: 200;
    line-height: 40px;
    margin: 20px 0px 0px;
}

.bottom-banner{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.65;
}

.bottom-banner-inner{
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 80%;
    margin: auto;
    padding: 18px 15px 10px 25px;
}

.bottom-banner-inner a{
    color: white;
}

h3{
    margin: 0 0 10px 0;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #000000;
    opacity: 0.67;
    margin: auto;
}

.blogs-container{
    max-width: 75%;
    margin: 0px auto;
}

.blogs-header{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 85px;
    margin: 0px;
    padding: 0px;
    margin: 50px 0px 0px 0px;
    /* margin-bottom: 10px; */
}

.blog{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.blog-container{
    display: flex;
    padding: 40px 0px;
}

.blog-image,
.blog-text{
    flex: 50%;
}

.blog-text{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 20px 35px;
}

.blog-image{
    background: url('https://images.pexels.com/photos/4034447/pexels-photo-4034447.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')center/cover no-repeat;
    border-radius: 2px;
}

.blog-text-header{
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1.2;
}

.read-more a{
    padding-top: 30px;
    transition: all 0.5s;
}

.read-more a:hover{
    background-color: black;
}

.read-more a{
    padding: 9px 18px;
    background-color: #ebc380;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 2px;
}

.contact-image{
    background: url('https://images.pexels.com/photos/5118002/pexels-photo-5118002.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')center/cover no-repeat;
    height: 100vh;
    margin-top: 80px;
}

.arrow-down-white{
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid white;
    opacity: 1;
    margin: auto;
}


/* ================
===================
 MEDIA QUERIES
==================
================ */

@media only screen and (max-width: 1200px) {
    .nav-links-container{
        margin-left: 100px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .nav-links-container{
        flex: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .nav{
        opacity: 1;
    }

    .nav-links-container div.login{
        padding: 4px 10px;
    }
  }

  @media only screen and (max-width: 480px){
      .logo{
          font-size: 25px;
          letter-spacing: 3px;
      }
      .logo span{
          font-size: 30px;
      }
  }



  /* =======================
  =======================
  drop-down-menu for small screens
  =======================
  ======================= */
  @media only screen and (max-width: 800px){
      .nav-links-container div{
        display: none;
    }

    div.nav{
        display:block;
        /* text-align: center; */
        position: relative;
        text-align: center;
        margin-bottom: 0px;
    }

    div.hamberger i{
        display: inline-block;      
    }

    /* div.drop-menu{
        display: block;
    } */

  }