:root{
    --theme: #eed49f;
}

body,
html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.page{
    visibility: hidden;;
}

.black{
    min-height: 100vh;
    background-color: black;
}

.bg-img{
    min-height: 98vh;
    /* width: 100%; */
    background-color: lightgray;
    background: url('https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')center/cover no-repeat;
    position: relative;
}

.nav{
    /* display: flex; */
    background-color: #000000;
    padding: 22px 0;
    opacity: 0.8;
    margin-bottom: 70px;
}

.header-container{
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: var(--theme);
    /* display: inline-block; */
}

.logo{
    font-family: serif;
    font-size: 32px;
    letter-spacing: 8px;
    display: inline-block;
    flex: 50%;
}

.first-letter{
    font-size: 42px;
}

.nav-links-container{
    /* display: inline-block; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    /* margin-left: 20%; */
    /* vertical-align: 5px; */
    /* margin-left: 200px; */
    flex: 50%;
    /* margin-left: auto; */
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: right;
    padding-top: 7px;
    /* height: 50%; */
}

.nav-links-container div{
    padding: 10px;
}

/* .nav-links{ */
    /* display: flex; */
    /* padding: 10px; */
    /* font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: right;
    height: 50%; */
/* } */

.nav-links-container a{
    /* padding: 15px; */
    flex: 1;
    margin: 10px;
}

.nav-links-container a:hover{
    color: white;
}

.login{
    border-left: solid 1px var(--theme);
    /* border-right: solid  4px var(--theme);
    border-top: solid 1px var(--theme);
    border-bottom: solid 1px var(--theme); */
    /* padding: 8px 20px 8px 20px; */
    font-weight: 700;
    margin-left: 40px;
    padding: 8px;
    /* border-radius: 7px; */
    /* background-color: black; */
    /* opacity: 1; */
    /* box-shadow: ; */
}

/* .login a:hover{

} */

/* .login span:hover{
    background-color: rgb(151, 150, 150);
    color: var(--theme);
} */

.main{
    max-width: 80%;
    padding: 60px 15px 15px;
    margin: auto;
}

.main-container{
    max-width: 58%;
    text-align: center;
    margin-bottom: 100px;
}

.main-inner{
    font-family: 'Bebas Neue', cursive;
    line-height: 80px;
    font-size: 90px;
    letter-spacing: -2px;
}

.main-inner-sub{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    letter-spacing: 10px;
    font-weight: 200;
    line-height: 40px;
    margin: 20px 0px 0px;
}

.bottom-banner{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.65;
}

.bottom-banner-inner{
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 80%;
    margin: auto;
    padding: 18px 15px 10px 25px;
}

.bottom-banner-inner a{
    color: white;
}

h3{
    margin: 0 0 10px 0;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #000000;
    opacity: 0.67;
    margin: auto;
}

.blogs-container{
    max-width: 75%;
    margin: 0px auto;
}

.blogs-header{
    font-family: 'Bebas Neue', cursive;
    font-size: 85px;
    margin: 0px;
    padding: 0px;
    margin: 50px 0px 0px 0px;
    /* margin-bottom: 10px; */
}

.blog{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.blog-container{
    display: flex;
    padding: 40px 0px;
}

.blog-image,
.blog-text{
    flex: 50%;
}

.blog-text{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 20px 35px;
}

.blog-image{
    background: url('https://images.pexels.com/photos/4034447/pexels-photo-4034447.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')center/cover no-repeat;
    border-radius: 2px;
}

.blog-text-header{
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1.2;
}

.read-more a{
    padding-top: 30px;
    transition: all 0.5s;
}

.read-more a:hover{
    background-color: black;
}

.read-more a{
    padding: 9px 18px;
    background-color: #ebc380;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 2px;
}

.contact-image{
    background: url('https://images.pexels.com/photos/5118002/pexels-photo-5118002.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')center/cover no-repeat;
    height: 100vh;
    margin-top: 80px;
}
/* ================
===================
 MEDIA QUERIES
==================
================ */

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }